USE [master]
GO

-- 1. Kiểm tra nếu database đã tồn tại thì xóa đi để tạo mới (tránh lỗi trùng)
IF EXISTS (SELECT name FROM sys.databases WHERE name = N'BTcuoiky')
BEGIN
    ALTER DATABASE [BTcuoiky] SET SINGLE_USER WITH ROLLBACK IMMEDIATE;
    DROP DATABASE [BTcuoiky];
END
GO

-- 2. Tạo Database đơn giản (Để mặc định mọi thứ, không ép đường dẫn hay version)
CREATE DATABASE [BTcuoiky]
GO

-- 3. Bắt đầu sử dụng
USE [BTcuoiky]
GO

/****** Object:  Table [dbo].[Category]    Script Date: 11/20/2025 8:32:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Category](
	[CategoryID] [int] NOT NULL,
	[CategoryName] [nvarchar](100) NOT NULL,
	[Description] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[CategoryID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Customer]    Script Date: 11/20/2025 8:32:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Customer](
	[CustomerID] [nvarchar](10) NOT NULL,
	[FullName] [nvarchar](100) NOT NULL,
	[Address] [nvarchar](255) NULL,
	[Phone] [varchar](15) NULL,
	[Email] [nvarchar](100) NOT NULL,
	[Password] [nvarchar](100) NOT NULL,
	[Role] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[CustomerID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Order]    Script Date: 11/20/2025 8:32:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Order](
	[OrderID] [int] NOT NULL,
	[OrderDate] [date] NULL,
	[ShippedDate] [date] NULL,
	[CustomerID] [nvarchar](10) NULL,
	[ShipAddress] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[OrderID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OrderDetail]    Script Date: 11/20/2025 8:32:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrderDetail](
	[OrderID] [int] NOT NULL,
	[ProductID] [int] NOT NULL,
	[Quantity] [int] NULL,
	[Discount] [float] NULL,
 CONSTRAINT [PK_OrderDetail] PRIMARY KEY CLUSTERED 
(
	[OrderID] ASC,
	[ProductID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Product]    Script Date: 11/20/2025 8:32:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Product](
	[ProductID] [int] NOT NULL,
	[ProductName] [nvarchar](max) NOT NULL,
	[Unit] [nvarchar](50) NULL,
	[Price] [decimal](18, 2) NULL,
	[CategoryID] [int] NULL,
	[image_uri] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[ProductID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProductTag]    Script Date: 11/20/2025 8:32:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProductTag](
	[ProductID] [int] NOT NULL,
	[TagID] [int] NOT NULL,
 CONSTRAINT [PK_ProductTag] PRIMARY KEY CLUSTERED 
(
	[ProductID] ASC,
	[TagID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tag]    Script Date: 11/20/2025 8:32:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tag](
	[TagID] [int] NOT NULL,
	[TagName] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[TagID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Category] ([CategoryID], [CategoryName], [Description]) VALUES (1, N'Kính mát', N'Các loại kính râm, chống tia UV')
INSERT [dbo].[Category] ([CategoryID], [CategoryName], [Description]) VALUES (2, N'Gọng kính cận', N'Các loại gọng kính để lắp tròng cận')
INSERT [dbo].[Category] ([CategoryID], [CategoryName], [Description]) VALUES (3, N'Tròng kính', N'Các loại tròng kính cận, viễn, loạn...')
GO
INSERT [dbo].[Customer] ([CustomerID], [FullName], [Address], [Phone], [Email], [Password], [Role]) VALUES (N'416f1833-f', N'ayolilbro@gmail.com', NULL, NULL, N'ayolilbro@gmail.com', N'123', N'User')
INSERT [dbo].[Customer] ([CustomerID], [FullName], [Address], [Phone], [Email], [Password], [Role]) VALUES (N'eaceab19-e', N'admin@gmail.com', NULL, NULL, N'admin@gmail.com', N'meobeoanchay@69', N'Admin')
INSERT [dbo].[Customer] ([CustomerID], [FullName], [Address], [Phone], [Email], [Password], [Role]) VALUES (N'fd2fb953-1', N'customer@gmail.com', NULL, NULL, N'customer@gmail.com', N'meobeoanchay@69', N'User')
GO
INSERT [dbo].[Product] ([ProductID], [ProductName], [Unit], [Price], [CategoryID], [image_uri]) VALUES (1, N'Oakley Eyewear - Sunglasses - 0OO9244', N'1', CAST(2200000.00 AS Decimal(18, 2)), 1, N'/Content/Uploads/Products/9701e892-2697-473f-a4f2-2fb11ae2d97b.jpg')
INSERT [dbo].[Product] ([ProductID], [ProductName], [Unit], [Price], [CategoryID], [image_uri]) VALUES (2, N'Prada Eyewear - Sunglasses - 0PR A22SF', N'1', CAST(3100000.00 AS Decimal(18, 2)), 1, N'/Content/Uploads/Products/3c2a7dca-4b2b-41d5-b974-dbc691440e18.jpg')
INSERT [dbo].[Product] ([ProductID], [ProductName], [Unit], [Price], [CategoryID], [image_uri]) VALUES (3, N'Rayban Eyewear - Sunglasses - 0RB3712D', N'1', CAST(1400000.00 AS Decimal(18, 2)), 1, N'/Content/Uploads/Products/8a33c763-e9f8-4093-b1f2-1ff75f03d206.jpg')
GO
INSERT [dbo].[ProductTag] ([ProductID], [TagID]) VALUES (1, 1)
INSERT [dbo].[ProductTag] ([ProductID], [TagID]) VALUES (2, 1)
INSERT [dbo].[ProductTag] ([ProductID], [TagID]) VALUES (2, 2)
GO
INSERT [dbo].[Tag] ([TagID], [TagName]) VALUES (1, N'Mới')
INSERT [dbo].[Tag] ([TagID], [TagName]) VALUES (2, N'Bán chạy')
INSERT [dbo].[Tag] ([TagID], [TagName]) VALUES (3, N'Khuyến mãi')
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Customer__A9D105343477A18A]    Script Date: 11/20/2025 8:32:06 PM ******/
ALTER TABLE [dbo].[Customer] ADD UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Customer] ADD  DEFAULT ('User') FOR [Role]
GO
ALTER TABLE [dbo].[Order]  WITH CHECK ADD  CONSTRAINT [FK_Order_Customer] FOREIGN KEY([CustomerID])
REFERENCES [dbo].[Customer] ([CustomerID])
GO
ALTER TABLE [dbo].[Order] CHECK CONSTRAINT [FK_Order_Customer]
GO
ALTER TABLE [dbo].[OrderDetail]  WITH CHECK ADD  CONSTRAINT [FK_OrderDetail_Order] FOREIGN KEY([OrderID])
REFERENCES [dbo].[Order] ([OrderID])
GO
ALTER TABLE [dbo].[OrderDetail] CHECK CONSTRAINT [FK_OrderDetail_Order]
GO
ALTER TABLE [dbo].[OrderDetail]  WITH CHECK ADD  CONSTRAINT [FK_OrderDetail_Product] FOREIGN KEY([ProductID])
REFERENCES [dbo].[Product] ([ProductID])
GO
ALTER TABLE [dbo].[OrderDetail] CHECK CONSTRAINT [FK_OrderDetail_Product]
GO
ALTER TABLE [dbo].[Product]  WITH CHECK ADD  CONSTRAINT [FK_Product_Category] FOREIGN KEY([CategoryID])
REFERENCES [dbo].[Category] ([CategoryID])
GO
ALTER TABLE [dbo].[Product] CHECK CONSTRAINT [FK_Product_Category]
GO
ALTER TABLE [dbo].[ProductTag]  WITH CHECK ADD  CONSTRAINT [FK_ProductTag_Product] FOREIGN KEY([ProductID])
REFERENCES [dbo].[Product] ([ProductID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ProductTag] CHECK CONSTRAINT [FK_ProductTag_Product]
GO
ALTER TABLE [dbo].[ProductTag]  WITH CHECK ADD  CONSTRAINT [FK_ProductTag_Tag] FOREIGN KEY([TagID])
REFERENCES [dbo].[Tag] ([TagID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ProductTag] CHECK CONSTRAINT [FK_ProductTag_Tag]
GO
USE [master]
GO
